{"swagger":"2.0","schemes":["https"],"host":"apibeta99.tower.im","basePath":"/v1","consumes":["application/json"],"produces":["application/json"],"info":{"version":"1.0.0","title":"Tower API","description":"\n文档中的 API 调用地址为测试使用，生产环境 API 地址为 https://api.tower.im 。\n\nAPI 使用 OAuth2 Authorization Code flow 进行认证，Authorization Server 地址为 https://tower.im ，endpoints 见[这里](https://github.com/doorkeeper-gem/doorkeeper/wiki/API-endpoint-descriptions-and-examples)。\n\n如何进行 OAuth2 认证请参考\n\n[这里](https://github.com/doorkeeper-gem/doorkeeper/wiki/Testing-your-provider-with-OAuth2-gem)\n以及 [OAuth2 Spec](https://tools.ietf.org/html/rfc6749)\n\nAPI 支持 Refresh Token\n        "},"securityDefinitions":{"tower_auth":{"type":"oauth2","authorizationUrl":"https://beta99.tower.im/oauth/authorize","tokenUrl":"https://apibeta99.tower.im/oauth/token","flow":"accessCode"}},"paths":{"/teams":{"get":{"description":"Returns resource owner's all accessable teams","tags":["teams"],"responses":{"200":{"description":"teams response"}}},"post":{"description":"Create a Team","tags":["teams"],"parameters":[{"name":"data","in":"body","description":"{\"team\": {\"name\": \"team name\"}}","required":true,"schema":{"$ref":"#/definitions/Placeholder"}}],"responses":{"200":{"description":"# TODO"}}}},"/teams/{id}":{"patch":{"description":"Update a Team","tags":["teams"],"parameters":[{"name":"id","in":"path","description":"ID of team","required":true,"type":"string","format":"string"},{"name":"data","in":"body","description":"{\"team\": {\"name\": \"team name\"}}","required":true,"schema":{"$ref":"#/definitions/Placeholder"}}],"responses":{"200":{"description":"# TODO"}}}},"/teams/{id}/members":{"get":{"description":"Returns team members by id","tags":["teams"],"parameters":[{"name":"id","in":"path","description":"ID of team","required":true,"type":"string","format":"string"}],"responses":{"200":{"description":"teams response"}}}},"/teams/{id}/member":{"get":{"description":"Return member by id","tags":["teams"],"parameters":[{"name":"id","in":"path","description":"ID of team","required":true,"type":"string","format":"string"}],"responses":{"200":{"description":"teams response"}}}},"/teams/{team_id}/projects":{"get":{"description":"Returns projects under specific team","tags":["projects"],"parameters":[{"name":"team_id","in":"path","description":"ID of team","required":true,"type":"string","format":"string"}],"responses":{"200":{"description":"projects response"}}},"post":{"description":"Create project","tags":["projects"],"parameters":[{"name":"team_id","in":"path","description":"ID of team","required":true,"type":"string","format":"string"},{"name":"data","in":"body","description":"{\"project\": {\"name\": \"project name\", \"desc\": \"project desc\"}}","required":true,"schema":{"$ref":"#/definitions/Placeholder"}}],"responses":{"200":{"description":"# TODO"}}}},"/projects/{id}":{"get":{"description":"Get project by id","tags":["projects"],"parameters":[{"name":"id","in":"path","description":"ID of Project","required":true,"type":"string","format":"string"}],"responses":{"200":{"description":"# TODO"}}},"patch":{"description":"Update project by id","tags":["projects"],"parameters":[{"name":"id","in":"path","description":"ID of team","required":true,"type":"string","format":"string"},{"name":"data","in":"body","description":"{\"project\": {\"name\": \"project name\", \"desc\": \"project desc\"}}","required":true,"schema":{"$ref":"#/definitions/Placeholder"}}],"responses":{"200":{"description":"# TODO"}}},"delete":{"description":"Delete project by id","tags":["projects"],"parameters":[{"name":"id","in":"path","description":"ID of team","required":true,"type":"string","format":"string"}],"responses":{"200":{"description":"# TODO"}}}},"/projects/{project_id}/todolists":{"get":{"description":"Returns todolists under specific project","tags":["todolists"],"parameters":[{"name":"project_id","in":"path","description":"ID of project","required":true,"type":"string","format":"string"}],"responses":{"200":{"description":"todolists response"}}},"post":{"description":"Create Todolist","tags":["todolists"],"parameters":[{"name":"project_id","in":"path","description":"ID of Project","required":true,"type":"string","format":"string"},{"name":"data","in":"body","description":"{\"todolist\": {\"name\": \"todolist name\"}}","required":true,"schema":{"$ref":"#/definitions/Placeholder"}}],"responses":{"200":{"description":"# TODO"}}}},"/todolists/{id}":{"get":{"description":"Get todolist by id","tags":["todolists"],"parameters":[{"name":"id","in":"path","description":"ID of Todolist","required":true,"type":"string","format":"string"}],"responses":{"200":{"description":"# TODO"}}},"patch":{"description":"Update todolist by id","tags":["todolists"],"parameters":[{"name":"id","in":"path","description":"ID of Todolist","required":true,"type":"string","format":"string"},{"name":"data","in":"body","description":"{\"todolist\": {\"name\": \"todolist name\"}}","required":true,"schema":{"$ref":"#/definitions/Placeholder"}}],"responses":{"200":{"description":"# TODO"}}},"delete":{"description":"Delete todolist by id","tags":["todolists"],"parameters":[{"name":"id","in":"path","description":"ID of Todolist","required":true,"type":"string","format":"string"}],"responses":{"200":{"description":"# TODO"}}}},"/todolists/{todolist_id}/todos":{"get":{"description":"Returns todos under specific todolist","tags":["todos"],"parameters":[{"name":"todolist_id","in":"path","description":"ID of Todolist","required":true,"type":"string","format":"string"}],"responses":{"200":{"description":"todolists response"}}},"post":{"description":"Create Todo","tags":["todos"],"parameters":[{"name":"todolist_id","in":"path","description":"ID of Todolist","required":true,"type":"string","format":"string"},{"name":"data","in":"body","description":"{\"todo\": {\"content\": \"todo content\", \"desc\": \"todo desc\"}}","required":true,"schema":{"$ref":"#/definitions/Placeholder"}}],"responses":{"200":{"description":"# TODO"}}}},"/todos/{id}":{"get":{"description":"Get todo by id","tags":["todos"],"parameters":[{"name":"id","in":"path","description":"ID of Todo","required":true,"type":"string","format":"string"}],"responses":{"200":{"description":"# TODO"}}},"patch":{"description":"Update todo by id","tags":["todos"],"parameters":[{"name":"id","in":"path","description":"ID of Todo","required":true,"type":"string","format":"string"},{"name":"data","in":"body","description":"{\"todo\": {\"content\": \"todo content\", \"desc\": \"todo desc\"}}","required":true,"schema":{"$ref":"#/definitions/Placeholder"}}],"responses":{"200":{"description":"# TODO"}}},"delete":{"description":"Delete todo by id","tags":["todos"],"parameters":[{"name":"id","in":"path","description":"ID of Todo","required":true,"type":"string","format":"string"}],"responses":{"200":{"description":"# TODO"}}}},"/todos/{id}/completion":{"post":{"description":"complete todo by id","tags":["todos"],"parameters":[{"name":"id","in":"path","description":"ID of Todo","required":true,"type":"string","format":"string"}],"responses":{"200":{"description":"# TODO"}}},"delete":{"description":"reopen todo by id","tags":["todos"],"parameters":[{"name":"id","in":"path","description":"ID of Todo","required":true,"type":"string","format":"string"}],"responses":{"200":{"description":"# TODO"}}}},"/todos/{id}/due":{"patch":{"description":"set due of todo by id","tags":["todos"],"parameters":[{"name":"id","in":"path","description":"ID of Todo","required":true,"type":"string","format":"string"},{"name":"data","in":"body","description":"{ \"todos_due\": { \"due_at\": \"2017-02-08\" } }","required":true,"schema":{"$ref":"#/definitions/Placeholder"}}],"responses":{"200":{"description":"# TODO"}}}},"/todos/{id}/assignment":{"patch":{"description":"set assignee of todo by id","tags":["todos"],"parameters":[{"name":"id","in":"path","description":"ID of Todo","required":true,"type":"string","format":"string"},{"name":"data","in":"body","description":"{ \"todos_assignment\": { \"assignee_id\": \"assignee guid\" } }","required":true,"schema":{"$ref":"#/definitions/Placeholder"}}],"responses":{"200":{"description":"# TODO"}}}},"/todos/{id}/comments":{"post":{"description":"create comment of todo by id","tags":["todos"],"parameters":[{"name":"id","in":"path","description":"ID of Todo","required":true,"type":"string","format":"string"},{"name":"data","in":"body","description":"{ \"todos_comment\": { \"content\": \"hello\" } }","required":true,"schema":{"$ref":"#/definitions/Placeholder"}}],"responses":{"200":{"description":"# TODO"}}}},"/members/{id}/assigned_todos":{"get":{"description":"Returns member's assigned todos","tags":["members"],"parameters":[{"name":"id","in":"path","description":"ID of member","required":true,"type":"string","format":"string"}],"responses":{"200":{"description":"member response"}}}},"/members/{id}/closed_todos":{"get":{"description":"Returns member's closed todos","tags":["members"],"parameters":[{"name":"id","in":"path","description":"ID of member","required":true,"type":"string","format":"string"}],"responses":{"200":{"description":"member response"}}}},"/members/{id}/created_todos":{"get":{"description":"Returns member's created todos","tags":["members"],"parameters":[{"name":"id","in":"path","description":"ID of member","required":true,"type":"string","format":"string"}],"responses":{"200":{"description":"member response"}}}},"/user":{"get":{"description":"Returns current user","tags":["user"],"responses":{"200":{"description":"user response"}}}}},"definitions":{"Placeholder":{}}}