{"swagger":"2.0","schemes":["https"],"host":"apibeta99.tower.im","basePath":"/v1","consumes":["application/json"],"produces":["application/json"],"info":{"version":"1.0.0","title":"Tower API","description":"Tower API explained"},"securityDefinitions":{"tower_auth":{"type":"oauth2","authorizationUrl":"https://beta99.tower.im/oauth/authorize","tokenUrl":"https://apibeta99.tower.im/oauth/token","flow":"accessCode"}},"paths":{"/teams":{"get":{"description":"Returns resource owner's all accessable teams","tags":["teams"],"responses":{"200":{"description":"teams response"}}},"post":{"description":"Create a Team","tags":["teams"],"parameters":[{"name":"data","in":"body","description":"Team name","required":true,"type":"string","format":"string"}]}},"/teams/{id}":{"patch":{"description":"Update a Team","tags":["teams"],"parameters":[{"name":"id","in":"path","description":"ID of team","required":true,"type":"string","format":"string"},{"name":"data","in":"body","description":"Team name","required":true,"type":"string","format":"string"}]}},"/teams/{id}/members":{"get":{"description":"Returns team by id","tags":["teams"],"parameters":[{"name":"id","in":"path","description":"ID of team","required":true,"type":"string","format":"string"}],"responses":{"200":{"description":"teams response"}}}},"/teams/{team_id}/projects":{"get":{"description":"Returns projects under specific team","tags":["projects"],"parameters":[{"name":"team_id","in":"path","description":"ID of team","required":true,"type":"string","format":"string"}],"responses":{"200":{"description":"projects response"}}},"post":{"description":"Create project","tags":["projects"],"parameters":[{"name":"team_id","in":"path","description":"ID of team","required":true,"type":"string","format":"string"},{"name":"data","in":"body","description":"Project information","required":true}]}},"/projects/{id}":{"get":{"description":"Get project by id","tags":["projects"],"parameters":[{"name":"id","in":"path","description":"ID of Project","required":true,"type":"string","format":"string"}]},"patch":{"description":"Update project by id","tags":["projects"],"parameters":[{"name":"id","in":"path","description":"ID of team","required":true,"type":"string","format":"string"},{"name":"data","in":"body","description":"Project information","required":true}]},"delete":{"description":"Delete project by id","tags":["projects"],"parameters":[{"name":"id","in":"path","description":"ID of team","required":true,"type":"string","format":"string"}]}},"/projects/{project_id}/todolists":{"get":{"description":"Returns todolists under specific project","tags":["todolists"],"parameters":[{"name":"project_id","in":"path","description":"ID of project","required":true,"type":"string","format":"string"}],"responses":{"200":{"description":"todolists response"}}},"post":{"description":"Create Todolist","tags":["todolists"],"parameters":[{"name":"team_id","in":"path","description":"ID of Project","required":true,"type":"string","format":"string"},{"name":"data","in":"body","description":"Todolist information","required":true}]}},"/todolists/{id}":{"get":{"description":"Get todolist by id","tags":["todolists"],"parameters":[{"name":"id","in":"path","description":"ID of Todolist","required":true,"type":"string","format":"string"}]},"patch":{"description":"Update todolist by id","tags":["todolists"],"parameters":[{"name":"id","in":"path","description":"ID of Todolist","required":true,"type":"string","format":"string"},{"name":"data","in":"body","description":"Todolist information","required":true}]},"delete":{"description":"Delete todolist by id","tags":["todolists"],"parameters":[{"name":"id","in":"path","description":"ID of Todolist","required":true,"type":"string","format":"string"}]}}}}