{"swagger":"2.0","schemes":["https"],"host":"apibeta99.tower.im","basePath":"/v1","consumes":["application/json"],"produces":["application/json"],"info":{"version":"1.0.0","title":"Tower API","description":"Tower API explained"},"securityDefinitions":{"tower_auth":{"type":"oauth2","authorizationUrl":"https://beta99.tower.im/oauth/authorize","tokenUrl":"https://apibeta99.tower.im/oauth/token","flow":"accessCode"}},"paths":{"/teams":{"get":{"description":"Returns resource owner's all accessable teams","tags":["teams"],"responses":{"200":{"description":"teams response"}}},"post":{"description":"Create a Team","tags":["teams"],"parameters":[{"name":"data","in":"body","description":"Team name","required":true,"type":"string","format":"string"}]}},"/teams/{id}":{"patch":{"description":"Update a Team","tags":["teams"],"parameters":[{"name":"id","in":"path","description":"ID of team","required":true,"type":"string","format":"string"},{"name":"team[name]","in":"formData","description":"Team name","required":true,"type":"string","format":"string"}]}},"/teams/{id}/members":{"get":{"description":"Returns team by id","tags":["teams"],"parameters":[{"name":"id","in":"path","description":"ID of team","required":true,"type":"string","format":"string"}],"responses":{"200":{"description":"teams response"}}}},"/teams/{team_id}/projects":{"get":{"description":"Returns projects under specific team","tags":["projects"],"parameters":[{"name":"team_id","in":"path","description":"ID of team","required":true,"type":"string","format":"string"}],"responses":{"200":{"description":"projects response"}}}}}}